<div fxLayout="column" fxLayoutGap="10px">
  <sudoku-toolbar
      [(editMode)]="editMode"
      (editModeChange)="setEditMode($event)">
  </sudoku-toolbar>
  <div fxLayout fxLayoutGap="10px">
    <div fxFlex="1 1 auto">
      <sudoku-board>
      </sudoku-board>
    </div>
    <div fxFlexOffset="1">
      <sudoku-solvers>
      </sudoku-solvers>
    </div>
  </div>
</div>

<sudoku-key-handler
    [editMode]="editMode"
    [(cursor)]="cursor"
    (cursorChange)="setCursor($event)">
</sudoku-key-handler>
