<md-toolbar>
  <span>Sudoku</span>
  <div fxFlexOffset="3">
    <md-button-toggle-group multiple>
      <md-button-toggle [checked]="editMode$ | async"
                        (change)="changeEditMode()">
        <md-icon>edit</md-icon>
      </md-button-toggle>
    </md-button-toggle-group>
  </div>
  <div fxFlexOffset="3">
    <button md-icon-button>
      <md-icon fontSet="fa" fontIcon="fa-stop" class="fa-mat"></md-icon>
    </button>
    <button md-icon-button (click)="solve()">
      <md-icon fontSet="fa" fontIcon="fa-play" class="fa-mat"></md-icon>
    </button>
  </div>
  <div fxFlex>
  </div>
  <div>
    <button md-icon-button (click)="clear()">
      <md-icon>clear</md-icon>
    </button>
    <button md-icon-button (click)="download()">
      <md-icon>file_download</md-icon>
    </button>
    <button md-icon-button (click)="upload()">
      <md-icon>file_upload</md-icon>
    </button>
  </div>
</md-toolbar>
