<md-toolbar>
  <span>Sudoku</span>
  <div [fxFlexOffset]="3">
    <md-button-toggle-group multiple>
      <md-button-toggle [checked]="editMode"
                        (change)="changeEditMode()">
        <md-icon>edit</md-icon>
      </md-button-toggle>
    </md-button-toggle-group>
  </div>
  <div fxFlex>
  </div>
  <div>
    <button md-icon-button (click)="clear()">
      <md-icon>clear</md-icon>
    </button>
    <button md-icon-button (click)="download()">
      <md-icon>file_download</md-icon>
    </button>
    <button md-icon-button>
      <md-icon>file_upload</md-icon>
    </button>
  </div>
</md-toolbar>
