<md-toolbar>
  <span>Sudoku</span>
  <div fxFlexOffset="3">
    <md-button-toggle-group multiple>
      <md-button-toggle [checked]="edit$ | async"
                        (change)="changeEditMode()">
        <md-icon>edit</md-icon>
      </md-button-toggle>
    </md-button-toggle-group>
  </div>
  <div fxFlexOffset="3">
    <button md-icon-button
            [disabled]="(edit$ | async) || !(solving$ | async)"
            (click)="stop()">
      <md-icon fontSet="fa" fontIcon="fa-stop" class="fa-mat"></md-icon>
    </button>
    <button md-icon-button
            [disabled]="(edit$ | async) || (solving$ | async)"
            (click)="stepForward()">
      <md-icon fontSet="fa" fontIcon="fa-step-forward" class="fa-mat"></md-icon>
    </button>
  </div>
  <div fxFlex>
  </div>
  <div>
    <button md-icon-button
            [disabled]="edit$ | async"
            (click)="clear()">
      <md-icon>clear</md-icon>
    </button>
    <button md-icon-button
            [disabled]="edit$ | async"
            (click)="download()">
      <md-icon>file_download</md-icon>
    </button>
    <button md-icon-button
            [disabled]="edit$ | async"
            (click)="upload()">
      <md-icon>file_upload</md-icon>
    </button>
  </div>
</md-toolbar>
